<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go HTML</title>
</head>
<body>

    <h1>{{.Name}}</h1>
    <h2>{{.Age}}</h2>
    <h3>{{.SomeProcessing}}</h3>
    <h4>{{.AgeDbl}}</h4>
    <h5>{{.AgeDbl | .TakesArg}}</h5>

    {{template "footer"}}

</body>
</html>