<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>

<body>
    {{index . 0}}
    {{index . 4}}
    {{index . 2}}
    {{index . 5}}
</body>

</html>