<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<a href="/user/5af5cc57e7798902212a7e50">Go to: localhost:8080/user/5af5cc57e7798902212a7e50</a>

</body>
</html>