<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go HTML</title>
</head>
<body>

    {{if .}}
        <h1>{{.Name}}</h1>
        <h2>{{.Age}}</h2>
        {{if .LicenseToKill}}
        <h3>License To Kill: true</h3>
        {{end}}
    {{end}}

    {{template "copyright"}}

</body>
</html>