<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Go HTML</title>
</head>
<body>

<form method="post" enctype="multipart/form-data">
	<label for="fname">File:</label>
	<input type="file" name="FName" id="fname">

	<input type="submit" value="OK">
</form>

{{.}}

</body>
</html>